* {
    font-family: krub;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* ********************** NAVBAR ********************** */

a.menu, a.menu:visited {
    color: #687da5;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

a.menu:hover {
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

nav {
    background-color:#FFFFDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin: right;
}

#nav .logo h1 {
    font-family: lobster, sans-serif;
    color: #3f5377;
    font-size: 3.6rem;
    padding: 1rem 1rem 0 1rem;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    width: 16%;
    align-items: center;
    rotate: -4deg;
    text-shadow: -2px 2px 0px  #ffffDD;
}

#icons {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    padding: 0 1rem;
    color: #3f5377;
}

/* ********************** IMAGE PRINCIPALE ********************** */

.imgprincipale {
    padding-top: 4rem;
    background: url(./Images/Hedeby.png) no-repeat fixed;
    background-size: 100%;
    width: 100%;
    height: 75vh;
    background-position-x: center;
    background-position-y: top;
}

/* ********************** PRESENTATION ********************** */

.text-intro {
    width: 80%;
    margin: 0% 10%;
}

.text-intro h2 {
    width: 70%;
    margin-left: 15%;
    font-family: "Krub", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #687da5;
    padding-top: 2rem;
}

.presentation {
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 14% 100px 14%;
}

.presentation p.encart {
    text-align: justify ;
    padding-top: 20px;
}

.images-presentation {
    margin-top: 15px;
}

h4 {
    font-weight: 600;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    color: #384f53;
    font-size: 1.1rem;
}    

img.hover{
    border-radius: 1rem;
    box-shadow: 4px 5px 6px 1px #e6ebf5;
    transition: ease-in-out 1s;
    transform: scale(0.98);
}

img.hover:hover {
    box-shadow: 4px 5px 6px 1px #c6cbd6;
    transition: ease-in-out 1s;
    transform: scale(1);
}

.picto-drakkar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picto-drakkar h2 {
    color: #687da5;
    font-size: 800;
    text-align: center;
    padding: 0 1.7rem;
}

/* ********************** EVENEMENTS ********************** */

.evenements {
    display: flex;
    flex-direction: column;
    background-color: #e6ebf5;
    padding-top: 2rem;
}

.evenements h2 {
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

.evenements p.encart {
    width: 80%;
    margin: 0 10%;
    justify-content: center;
    text-align: justify;
    color: #384f53;
    font-weight: 400;
}

/* ********************** ACTIVITES ********************** */

.pictoh2 {
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0 20% 2rem 20%;
}

.pictoh2 img{
    width: 80px;
    height: 80px;
    padding: 0 2rem;
}

.pictoh2 h2 {
    font-size: 1.8rem;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #384f53;
}

.motif-frise {
    width: 80%;
    margin: 0 10%;
    padding-top: 1rem;
}

.motif-frise img {
    width: 80%;
    margin: 0 10%;
}

.evenements h3 {
    width: 60%;
    padding-left: -20%;
    color: #384f53;
    padding-bottom: 40pxs;
    text-align: justify;
}

.galerie p {
    font-weight: 500;
    color: #384f53;
    text-align: center;
    padding: 15px 0;
}

.galerie {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    box-shadow: 1px 1px 8px #384f5379;
}

.right {
    display: flex;
    flex-direction:row-reverse;
    margin: 20px auto;
    box-shadow: 1px 1px 8px #384f5379;
}

.left p {
    display: block;
    font-size: 1.2rem;
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    background-color: #FFFFDD;
    z-index: 1;
    transition: ease-in-out 1s;
}
.left p:hover {
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    transition: ease-in-out 1s;
}

.right p {
    display: block;
    font-size: 1.2rem;
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    padding-top: 7rem;
    background-color: #FFFFDD;
    z-index: 1;
    transition: ease-in-out 1s;
}

/* ********************** FOOTER ********************** */

footer {
    background-color: #486C72;
    padding: 0.6rem 3rem;
    color:#FFF;
    text-align: center;
}

.BTNcontact button.volet, .BTNcontact button.volet:visited {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    line-height: center;
    font-weight: 600;
    padding: 1rem 0;
    margin: 2rem auto;
    min-width: 14rem;
    background-color: #BABA73;
    border-radius: 3rem;
    border: 4px solid white;
    box-shadow: 1px 1px 12px #243133;
    transition: ease-in-out 0.5s;
}

.BTNcontact button.volet:hover {
    transform: scale(0.98);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color: #f3863e;
}

#contact .BTNcontact {
    display: flex;
    flex-direction: row;
}

.BTNcontact {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.BTNcontact {
    background-color: #486C72;
    margin: 0 auto;
}

.BTNcontact img {
    width: 4rem;
    margin: 0 8%;
}

#icon2 {
    display: block;
}
#icon2:before {
    content: "\2630";
}
.active #icon2:before {
    content: "\2715";
}

form {
    width: 100%;
    padding: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #486C72;
}

form h4 {
    font-size: 1.2rem;
    text-align: left;
    color: white;
    font-weight: 200;
    padding: 0 0.7rem;
}

input, textarea {
    width: 40%;
    margin: 0.3rem 10%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
    font-family: krub, sans-serif;
    font-weight: 300;
    resize: horizontal;
    min-width: 300px;
}

button {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: #BABA73;
    border: 4px solid #FFF;
    width: 1.2rem;
    min-width: 12rem;
    padding: 0.8rem;
    margin-top: 1rem;
    transition: ease-in-out 0.3s;
    box-shadow: 1px 1px 12px #243133;
}

button:hover {
    transform: scale(0.98);
    box-shadow: 1px 1px 12px #24313300;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    background-color: #f3863e;
}

.tiret-2 {
    height: 1px;
    width: 70%;
    background-color: white;
    margin: 1rem 15%;
}

.copyright-and-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.copyright {
    width: 48%;
    text-align: left;
    color: white;
}

.icons {
    width: 48%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
}

.icons a {
    color: #486C72;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons a:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}

/* ********************** MEDIA QUERIES ********************** */

@media screen and (max-width: 1800px){

    .imgprincipale {
        height: 70vh;
    }
}

@media screen and (max-width: 1240px){

    .imgprincipale {
        height: 60vh;
    }
}

@media screen and (max-width: 1030px){

    .imgprincipale {
        height: 50vh;
    }
    .galerie .gauche img{
        width: 30rem;
        margin: 0 auto;
    }
    .galerie .droite img{
        width: 30rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 840px){

    .imgprincipale {
        height: 45vh;
    }
    .galerie .gauche p{
        display: none;
    }
    .galerie .droite p{
         display: none;
    }
}

@media screen and (max-width: 767px){
    #icons {
        display: block;
    }
    #icons:before {
        content: "\2630";
    }
    .active #icons:before {
        content: "\2715";
    }
    #nav .logo h3 {
        font-size: 4rem;
        width: 20%;
    }
    nav ul {
        position: fixed;
        left: 100%;
        top: 50px;
        flex-direction: column;
        background: #FFFFDD;
        width: 30%;
        text-align: center;
        transition: 0.3s;
    }
    nav li {
        padding: 8px 0;
        transition: ease-in-out 0.5s;
    }
    nav li:hover {
        background: #e6e6bc;
        transition: ease-in-out 0.5s;
    }
    nav.active ul {
        left: 70%;
        transition: ease-in-out 0.5s;
    }

    .imgprincipale {
        height: 40vh;
    }
    .pictoh2 {
        width: 90%;
        margin: 0 15% 2rem 15%;
    }
    .pictoh2 {
        width: 70%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        margin: 0 15% 2rem 15%;
    }
    .pictoh2 img{
        width: 60px;
        height: 60px;
        padding: 0 1rem;
    }
    .pictoh2 h2 {
        font-size: 1.6rem;
    }
    .picto-drakkar {
        width: 100%;
    }
    .picto-drakkar h2 {
        color: #687da5;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
        padding: 0 1rem;
    }
    .picto-drakkar img {
        width: 60px;
        height: 60px;
        padding: 0;
    }
    .galerie .droite, .gauche {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .galerie .gauche p{
        width: 360px;
        float: none;
    }
    .galerie .droite p{
        width: 360px;
        float: none;
        margin-left: 5rem;
        margin-top: -45px;
    }
    #contact img {
        display: none;
    }
    .copyright-and-icons {
        flex-direction: column;
    }
    .icons {
        justify-content: center;
        margin-top: 5px;
    }
    .copyright {
        text-align: center;
    }
    .left {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }
    .right {
        display: flex;
        flex-direction:column;
        margin: 20px auto;
    }
    .left p {
        display: block;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
    .right p {
        display: block;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
    .left img {
        display: block;
        width: 100%;
        justify-content: center;
    }
    .right img {
        display: block;
        width: 100%;
    }
}

@media (max-width: 700px) {

    .imgprincipale {
        height: 30vh;
    }
    .picto-drakkar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .presentation {
        padding: 30px 5% 100px 5%;
    }   
    .picto-drakkar h2 {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 560px){

    .imgprincipale {
        height: 20vh;
    }
}